<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
    <!-- Sentry error logging to help with finding bugs -->
    <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
    <script>
        Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
    </script>
    <!-- /Sentry -->
    <% } %>
</head>
<style>
    .loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #c9efff;
    }

    .loading img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100px;
    }
</style>
<body>
<div class="loading">
    <img src="images/loading.gif">
</div>
<script>
    // function loadScript(url, callback) {
    //     var script = document.createElement('script');
    //     script.type = 'text/javascript';
    //     script.async = 'async';
    //     script.src = url;
    //     document.body.appendChild(script);
    //     if (script.readyState) {   //IE
    //         script.onreadystatechange = function () {
    //             if (script.readyState == 'complete' || script.readyState == 'loaded') {
    //                 script.onreadystatechange = null;
    //                 callback();
    //             }
    //         }
    //     } else {    //非IE
    //         script.onload = function () {
    //             callback();
    //         }
    //     }
    // }
    //
    // loadScript('http://cdn.codingmarch.com/build_test/lib.min.js', function () {
    // // loadScript('http://www.codingmarch.com/build_test/lib.min.js', function () {
    //     document.querySelector('.loading').style.display = 'none';
    // });
</script>
</body>
</html>

